p {
    margin:0;
}
#card{
    width:630px;
    
    padding: 20px;
    float: left;
    height: 325px;
}
#card .tittle{
    font-weight: bold;
    margin-bottom: 20px;
    font-family: sans-serif;
}
#card input{
    float:right;
    width: 165px;
}
#card span{
    width: 100%;
    display:inline-table;
    margin-bottom: 15px;
}
#card .block1{
    width: 300px;
    float: left;
    margin-right: 30px;
} 
#card .block2{
    width: 300px;
    float: left;
} 
#card .block1 p, #card .block2 p{
    font-weight: bold;
    margin-bottom: 8px;
    font-family: sans-serif;
} 
#card .submit{
    margin-top: 10px;
    float: right;
}
#card .submit input{
    height: 30px;
}
#card .cardNumber{
    float: right;
    text-align: center;
}   
#card .existCardNumber p{
    display:inline;
}
#card .assignField{
    width:300px;
    margin-top: 10px;
    font-weight:bold;
    font-family: sans-serif;
}

