p {
    margin:0;
}
#card{
    width:630px;
    padding: 20px;
    float: left;
    height: 325px;
}
#card .tittle{
    font-weight: bold;
    font-family: sans-serif;
    margin-bottom: 20px;
}
#card input{
    float:right;
    width: 165px;
    height: 23px;
    font-size: 15px;
}
#card span{
    width: 100%;
    display:inline-table;
    margin-bottom: 15px;
}
#card .block1{
    width: 300px;
    float: left;
    margin-right: 30px;
} 
#card .block2{
    width: 300px;
    float: left;
} 
#card .block1 p, #card .block2 p{
    font-weight: bold;
    font-family: sans-serif;
    margin-bottom: 8px;    
} 
#card .block1 span p, #card .block2 span p{
    font-weight: normal;
    margin-top: 6px;    
    float: left;
}
#card .submit{
    float: right;
}
#card .submit input{
    border: 1px solid #444444;
    height: 30px;
    width: 170px;
    background: white !important;
    margin: 5px 0px 0px 0px;
    cursor: pointer;
    float: right;
}
#card .submit input:hover{
    color:white;
    background: #444 !important;
}
#card .cardNumber{
    float: right;
    text-align: center;
    width: 165px;
    height: 23px;
    font-size: 15px;
}   
#card .existCardNumber p{
    display:inline;
}
#card .assignField{
    margin-top: 10px;
    font-weight:bold;
    font-family: sans-serif;
}

