#selectCard{
    margin-bottom: 10px;
    width: 920px;
    float:left;
    height: 320px;
    padding-right: 20px;
    padding-left: 20px;
    
}
#cardsHeader{
    padding-right: 20px;
}
#cardsContent{
    border-collapse: collapse;
    text-align: center;
    display: block;
    overflow-y: scroll;
    height: 260px;
}
#cardsContent td{
    border: 1px solid #BCBCBC; 	
}
#cardsContent .even td{
    background: #F9F9F9 ;
}
#cardsContent .odd td{
    background: #EFEFEF ;
}
#cardsContent .selected td{
    background: #95f300 ;
}
.cards_header{
    font-weight:bold;
    font-family: sans-serif;
}
#cards .rowNumber {
    width: 30px;
}
#cards .sampleName {
    width: 130px;
}
#cards .carNumber {
    width: 120px;
}
#cards .destination {
    width: 70px;
}
#cards .siloNumber {
    width: 70px;
}
#cards .humidity {
    width: 70px;
}
#cards .nomenclature {
    width: 150px;
}
#cards .class {
    width: 60px;
}
#cards .createDate {
    width: 150px;
}
#params{
    width: 920px;
    padding:20px;
    float: left;
    
}
#params .submit{
    float: right;
    height: 30px;
    margin-top: 15px;
}
#params .data{
    width: 40%;
    float:left;
}
#params .data span{
    display: inline-block;
    width: 100%;
    margin-bottom: 7px;
}
#params .data span input{
    float:right;
}
#params .sample{
    float: right;
    width: 50%;
}
#params .sample input, #params .sample select  {
    width: 100%;
}
#params .sample .block1{
    width: 42%;
    float: left;
}
#params .sample .block2{
    width: 42%;
    float: right;
}
p {
    margin:0;
}
input, select{
    width: 170px;
}
.title{
    font-weight: bold;
    margin-bottom: 10px;
    font-family: sans-serif;
}