#selectCard{
        margin-bottom: 10px;
        width: 600px;
        max-width: 600px;
        float:left;
}
#params{
    margin-left: 20px;
    width: 172px;
    float: left;
}
#cards{
    border-collapse: collapse;
    text-align: center;
}
#cards td{
        border: 1px solid #BCBCBC; 	
}
#cards .even td{
        background: #F9F9F9 ;
}
#cards .odd td{
        background: #EFEFEF ;
}
#cards .selected td{
        background: #95f300 ;
}
.cards_header{
        font-weight:bold;
}
#cards .rowNumber {
    width: 20px;
}
#cards .sampleName {
    width: 40px;
}
#cards .carNumber {
    width: 60px;
}
#cards .destination {
    width: 30px;
}
#cards .ttnNumber {
    width: 60px;
}
#cards .weediness {
    width: 30px;
}
#cards .gluten {
    width: 30px;
}
#cards .humidity {
    width: 30px;
}
#cards .createDate {
    width: 150px;
}
p {
    margin:0;
}
div p:first-child{
    font-weight: bold;
}