#content{
    max-width: 980px;
}
#selectCard{
    margin-bottom: 10px;
    width: 920px;
    float:left;
    height: 280px;
    border: 1px solid #BCBCBC;
    margin:20px;
}
#cardsHeader{
    border-collapse: collapse;
    margin: 10px;
    width: 876px;
}
#cardsHeader th{
    margin: 10px;
    width: 876px;
    border: 1px solid #BCBCBC; 	
}
#cardsContent{
    border-collapse: collapse;
    text-align: center;
    display: block;
    overflow-y: scroll;
    height: 220px;
    width: 900px;
    margin-left: 10px;
    margin-top: -10px;
}
#cardsContent td{
    border: 1px solid #BCBCBC; 	
    cursor: pointer;
}
#cardsContent tr:hover{
    background: linear-gradient(#f70,#f30);
    color:white;
}
#cardsContent tr:first-child td{
    border-top: none; 	
}
#cardsContent .even{
    background: #F9F9F9 ;
}
#cardsContent .odd{
    background: #EFEFEF ;
}
#cardsContent .selected{
    background: #444;/*#95f300 ;*/
    color: white;
}
.cards_header{
    font-weight:bold;
    font-family: sans-serif;
}
#cards .rowNumber {
    width: 30px;
}
#cards .sampleName {
    width: 120px;
}
#cards .carNumber {
    width: 110px;
}
#cards .destination {
    width: 70px;
}
#cards .siloNumber {
    width: 70px;
}
#cards .humidity {
    width: 70px;
}
#cards .nomenclature {
    width: 150px;
}
#cards .class {
    width: 60px;
}
#cards .createDate {
    width: 150px;
}
#params{
    width: 920px;
    margin-left: 20px;
    float: left;
}
#params input, #params select{
    margin-bottom: 6px;
    font-size: 15px;
}
#params input{
    width: 198px;
    height: 23px;
}
#params select{
    width: 202px;
    height: 29px;
}
#params .submit input{
    float: right;
    margin-top: 15px;
    border: 1px solid #444444;
    height: 30px !important;
    width: 202px !important;
    background: white !important;
    cursor: pointer;
    float: left;
}
#params .submit input:hover{
    color:white;
    background: #444 !important;
}
#params .data{
    width: 420px;
    float:left;
}
#params .data .block1{
    width: 200px;
    float:left;
}
#params .data .block2{
    width: 200px;
    float:right;
}

#params .sample{
    float: right;
    width: 420px;
}

#params .sample .block1{
    width: 200px;
    float: left;
}
#params .sample .block2{
    width: 200px;
    float: right;
}
p {
    margin:0;
}
.title{
    font-weight: bold;
    font-family: sans-serif;
    margin-bottom: 10px;
}