#menu{
    font-family: sans-serif;
    float:left;
    width:70%;
    list-style:none;
    font-weight:bold;
    margin:0;
}
#menu li{
    float:left;
    position:relative;
    display:block;
}
#menu li a{
    padding:5px;
    text-align: center;
    padding-top: 15px;
    width: 120px;
    height: 40px;
    display:block;
    color:#fff;
    background:#444;
    text-decoration:none;
    text-shadow:1px 1px 1px rgba(0,0,0,0.75); /* Тень текста, чтобы приподнять его на немного */
}

/*--- ВЫПАДАЮЩИЕ ПУНКТЫ ---*/
#menu ul{
    list-style:none;
    position:absolute;
    left:-9999px; /* Скрываем за экраном, когда не нужно (данный метод лучше, чем display:none;) */
    opacity:0; /* Устанавливаем начальное состояние прозрачности */
    -webkit-transition:0.25s linear opacity; /* В Webkit выпадающие пункты будут проявляться */
}

#menu ul li{
    padding-top:1px; /* Вводим отступ между li чтобы создать иллюзию разделенных пунктов меню */
    float:none;
}
#menu ul a{
    display:block;
}
#menu li:hover a{ /* Выводим выпадающий пункт при наведении курсора */
    background-color: #8e8e8e;
}
#menu li:hover ul a{ /* Выводим выпадающий пункт при наведении курсора */
    background-color: #444;
}
#menu li:hover ul{ /* Выводим выпадающий пункт при наведении курсора */
    left:-40px; /* Приносим его обратно на экран, когда нужно */
    opacity:1; /* Делаем непрозрачным */
}
#menu li a:hover{ /* Устанавливаем стили для верхнего уровня, когда выводится выпадающий список */
    background: linear-gradient(#f70,#f30);
    text-decoration:none;
}
#menu ul li:active { /* Устанавливаем стили для верхнего уровня, когда выводится выпадающий список */
    background: linear-gradient(#f70,#f30);
    text-decoration:none;
}
#menu li ul li a:hover{ /* Устанавливаем стили для выпадающих пунктов, когда курсор наводится на конкретный пункт */
    background:linear-gradient(#f70,#f30);
    text-decoration:none;
}

#header{
    display: table;
    width: 100%;
    height: 60px;
    margin-bottom: 20px;
    background-color: #000;
}
#user p{
    font-family: sans-serif;
    font-weight: bold;
    color: white;
    float: right;
    margin: 6px 0px 6px 0px;
}
#user .submit{
    float: right;
    height: 40px;
    margin-top: 6px;
    outline: 0 !important;
}

#header #user{
    background: #ff3e00;
    background:#444;
    float:right;
    width: auto;
    height:60px;
    margin-right: 15px;
    padding-right: 10px;
}
#header #user .userName{
width: 110px;
    border: none;
    text-align: left;
    background-color: transparent;
    color: #f70;
    font-size: 15px;
    height: 40px;
    float: right;
    margin: 6px 5px 0px 5px;
}

#header #user img{
    height: 40px;
    float: right;
    margin-top: 6px;
}