#params{
    margin-left: 20px;
    width: 172px;
    float: left;
}
.queueTable{
    border-collapse: collapse;
    text-align: center;
}
.queueTable td{
        border: 1px solid #BCBCBC; 	
}
.queueTable .even td{
        background: #F9F9F9 ;
}
.queueTable .odd td{
        background: #EFEFEF ;
}
.queueTable .selected td{
        background: #95f300 ;
}
.queueTable header{
        font-weight:bold;
}
.queueTable .rowNumber {
    width: 20px;
}
.queueTable .carNumber {
    width: 60px;
}
.queueTable .createDate {
    width: 120px;
}
.dock {
    width: 250px;
    height: 200px;
    float:left;
    margin-left: 20px;
}
.listScreen{
    
}
.arrivalScreen{
    padding-top: 20%;
    text-align: center;
   
}
.releaseForm .accept{
    float:right;
}
.releaseForm .cancel{
    float:left;
}
.releaseScreen{
    
}
.dock .listScreen p{
    text-align: center;
}
.hidden {
    display:none;
}