#params{
    margin-left: 20px;
    width: 172px;
    float: left;
}
.queueTable{
    border-collapse: collapse;
    text-align: center;
}
.queueTable td{
        border: 1px solid #BCBCBC; 
        height:40px;
}
.queueTable .even td{
        background: #F9F9F9 ;
}
.queueTable .odd td{
        background: #EFEFEF ;
}
.queueTable .selected td{
        background: #95f300 ;
}
.queueTable header{
        font-weight:bold;
}
.queueTable .rowNumber {
    width: 20px;
}
.queueTable .carNumber {
    width: 70px;
}
.queueTable .humidity {
    width: 50px;
}
.queueTable .nomenclature {
    width: 120px;
}
.queueTable .class {
    width: 60px;
}
.queueTable .siloNumber {
    width: 90px;
}
.dock {
    width: 560px;
    height: 200px;
    float:left;
    margin-left: 20px;
}
.listScreen{
    
}
.arrivalScreen{
    padding-top: 10%;
    text-align: center;
   
}
.confirmationScreen{
    padding-top: 10%;
    text-align: center;
   
}
.releaseForm .accept{
    float:right;
}
.releaseForm .cancel{
    float:left;
}
.releaseScreen{
    
}
.dock .listScreen p{
    text-align: center;
}
.hidden {
    display:none;
}
p {
    margin: 0;
}
.releaseScreen .data1{
    float: left;
    margin-right: 20px;
}
.releaseScreen .data2{
    float: left;
    margin-right: 20px;
}
.releaseScreen .submit{
    margin-top: 20px;
}