#leftSide{
    width: 300px;
    float: left;
}
#rightSide{
    width: 430px;
    float: left;
}
#users_table{
    width: 670px;
    float: left;
    padding: 10px;
    border: 1px solid #BCBCBC;
    margin: 0px 20px 20px 0px;
}
#newUser{
    width: 200px;
    float: left;
}
#changePassword{
    width: 200px;
    float: left;
    margin-right: 20px;
}
#header_users{
    border-collapse: collapse;
    text-align: center;
    width: 646px;
}
#users{
    border-collapse: collapse;
    text-align: center;
    display: block;
    overflow-y: scroll;
    width: 672px;
    height: 181px;
}
#users td{
        border: 1px solid #BCBCBC; 	
}
#users .even td{
        background: #F9F9F9 ;
}
#users .odd td{
        background: #EFEFEF ;
}
#users .selected td{
        background: #95f300 ;
}
.users_header{
    font-weight:bold;
    border: 1px solid #BCBCBC;
    font-family: sans-serif;
}
#users .rowNumber, #header_users .rowNumber {
    width: 30px;
}
#users .login, #header_users .login {
    width: 150px;
}
#users .roles, #header_users .roles {
    width: 450px;
    text-align: left;
}
#users .selected td{
    background: #95f300 ;
}
#users tr:first-child td{
    border-top: none;
}
p {
    margin:0;
}
#lable_newUser{
    font-family: sans-serif;
    font-weight: bold;
    margin-bottom: 10px;
}

#setRoles SELECT,#setRoles INPUT[type="text"] {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}
/*#setRoles {
    padding: 8px;
    overflow: auto;
    width: 430px;    
}*/
#setRoles .roles{
    display:  inline-flex;
    margin: 6px 0 10px 0;
    height: 90px;
    width: 472px;
}
#setRoles .roles .exist{
    width: 210px;
    height: 100%;
    float: left;
}
#setRoles .roles .exist select{
    height: 100%;
    width: 100%;
}
#setRoles .roles .moveBtns{
    width: 50px;
    text-align: center;
    padding-top: 10px;
}
#setRoles .roles .available{
    width: 210px;
}
#content{
    max-width: 920px;
    min-width: 920px;
    max-height: 530px;
    min-height: 530px;
    margin: 20px;
}
input{
    height: 24px;
    width: 180px;
    margin-bottom: 6px;
}
input[type=button]{
    height: 30px;
    width: 31px;
}
.btn{
    border: 1px solid #444444 !important;
    height: 30px !important;
    width: 184px !important;
    background: white !important;
    margin: 10px 0px 0px 0px !important;
    cursor: pointer !important;
    font-size: 15px !important;
}
#btn{
    float: right;
}
button{
    border: 1px solid #444444;
    height: 30px;
    width: 184px;
    background: white !important;
    margin: 10px 0px 0px 0px;
    cursor: pointer;
    font-size: 15px;
}
.btn:hover{
    color:white;
    background: #444 !important;
}
button:hover{
    color:white;
    background: #444 !important;
}
#changePassword .username{
    display: none;
}
#setRoles .username{
    display: none;
}
#setRoles{
    float: left;
    width: 472px;
}
#userLable{
    float:left;
    width: 692px;
    margin-right: 228px;
}
#userLable input{
    float: right;
    margin-right: 10px;
    width: 255px;
}
#userLable input[type=button]{
    float: right;
    margin: 0px 0px 0px 20px !important;
}
#lable_password{
    font-weight: bold;
    font-family: sans-serif;
    margin-bottom: 10px;
}
#lable_roles{
    font-weight: bold;
    font-family: sans-serif;
    margin-bottom: 10px;
}
#userLable label{
    font-weight: bold;
    font-family: sans-serif;
}