.queueTable{
    border-collapse: collapse;
    text-align: center;
}
.queueTable td{
        border: 1px solid #BCBCBC; 	
}
.queueTable .even td{
        background: #F9F9F9 ;
}
.queueTable .odd td{
        background: #EFEFEF ;
}
.queueTable .header{
        font-weight:bold;
}
.queueTable .rowNumber {
    width: 20px;
}
.queueTable .carNumber {
    width: 70px;
}
.queueTable .humidity {
    width: 50px;
}
.queueTable .nomenclature {
    width: 120px;
}
.queueTable .class {
    width: 60px;
}
.queueTable .destination {
    width: 90px;
}
.queueBlock{
    width: 410px;
    height: 240px;
    float: left;
    margin-right: 20px;
}
#queues{
    width: 860px;
}
