p {
    margin:0;
}
#newCard{
    float:left;
}
#newCard .submit{
    float:right;
}
#existCard{
    float:left;
    padding-left: 50px;
    width: 400px;
    max-width: 400px;
}
#existCard .driver{
    float:left;
}
#existCard .cargo{
    float:right;
}
#existCard .car{
    float:right;
}
#existCard .sample{
    float:left;
}
#existCard .submit{
    float: right;
    
}
#existCard .submit input{
    width: 100px;
}
div p:first-child{
    font-weight: bold;
}