p {
    margin:0;
}
#newCard {
    width:230px;
    background-color: #ececec;
    padding: 20px;
    height: 580px;
    float:left;
    margin-right: 20px;
}
#newCard .tittle{
    font-weight: bold;
    margin-bottom: 20px;
}
#newCard input{
    width:100%;
    margin-bottom: 16px;
}
#newCard .cardNumber{
    width: 120px;
    float: right;
    text-align: center;
}    
#newCard .newCardNumber{
    margin-bottom: 20px;
}
#newCard .newCardNumber p{
    display:inline;
}
#addForm .submit{
    width: 40%;
    float: right;
}
#addForm .submit input{
    width: 100%;
    height: 30px;
}
#existCard{
    width:630px;
    background-color: #ececec;
    padding: 20px;
    float: left;
    height: 580px;
}
#existCard .tittle{
    font-weight: bold;
    margin-bottom: 20px;
}
#existCard input{
    float:right;
    width: 165px;
}
span{
    width: 100%;
    display:inline-table;
}
#existCard .existCardNumber span{

}
#existCard .cardNumber{
    float: right;
    text-align: center;
} 
#existCard .block1{
    width: 300px;
    float: left;
    margin-right: 30px;
} 
#existCard .block2{
    width: 300px;
    float: left;
} 
#existCard .block1 p, #existCard .block2 p{
    font-weight: bold;
    margin-bottom: 8px;
} 
#existCard span{
    margin-bottom: 15px;
}

#existCard .submit{
    margin-top: 27px;
    float: right;
}
#existCard .submit input{
    height: 30px;
}
